@import 'public/reset.scss';
@import "public/base.scss";
@import 'public/mixin.scss';
@import "public/variables.scss";
// @import "public/iconfont.scss";
@import "public/flex.scss";
@import "public/nav.scss";
@import "public/common.scss";
@import "public/menu.scss";
@import "public/user.scss";
@import "public/webnav.scss";

@import "public/bloglist.scss";

.el-header{
    padding: 0px;
}
.el-main{
    padding: 0px;
}
.el-aside{
    width: initial!important;
}
.left-menu li{
    &.pc{
        display: none;
    }
}

  